*{ 
    margin: 0 0 !important;
    padding: 0  0 !important;
}

body{
    background: linear-gradient(#4070f4,#4070f4);
    width: 98vw;
 
}
.main{
   height: 100vh;
   width: 98.8vw;

}
form{
    width: 55%;
    height: 100%;
    background-color: aliceblue;
    padding:50px;
    border-radius: 20px;
    margin-top: 150px;
    justify-content: center;
    text-align: center;
    display: flex;
    flex-direction: column;
}
/* .text{
    font-family: sans-serif;
} */
.container-fluid{
    width: 25%; 
    height: 80%;
}
.input{
    width: 80%;
    height: 40px;
    border: 1px solid rgb(196, 194, 194);

}

.pass img{
    height: 20px !important;
    position: absolute;
    left: 33%;
    margin-top: 10px !important;
     
}
.input::placeholder{
    padding: 10px;
}

button{
    width: 80%;
    height: 45px;
}
.link{
 display: flex;
 flex-direction: row;
 justify-content: center;
 align-items: center;
}


.btn-face .face {
    height: 35px;
    position: absolute;
    left: 16.5%;
    margin-top: 5px !important;

}
.btn-google .google {
    height: 30px;
    margin-top: 5px !important;
    position: absolute;
    left: 17%;
}

.inputsignup{
    width: 80%;
    height: 40px;
    border: 1px solid rgb(196, 194, 194);
}
.passeye img{
    height: 20px !important;
    position: absolute;
    right: 26%;
    margin-top: 10px !important;
     
}
.inputsignup::placeholder{
    padding: 10px;
}

.btn-signup{
    width: 100%;
    height: 45px;
}

.signup-text{
    margin-top: 20px !important;   
}
.btn-face .signup-face {
    height: 35px;
    position: absolute;
    right: 42%;
    margin-top: 5px !important;

}
.btn-google .signup-google {
    height: 30px;
    margin-top: 5px !important;
    position: absolute;
    right:42%;
}